/* Start The Needed Code */

#oz-scroll {
	position:fixed;
	bottom:15px;
	right:-80px;
	height:48px;
	width:48px;
	overflow:hidden;
	display:none;
	zoom:1;
	filter:alpha(opacity=60);
	opacity:.6;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

#oz-scroll img {max-width:100%}

#oz-scroll:hover {opacity:1}

.style1 {background-image:url('image/oz-scroll-up/style1.png')}

.style2 {background-image:url('image/oz-scroll-up/style2.png')}

.style3 {background-image:url('image/oz-scroll-up/style3.png')}

/* End The Needed Code */